 body	{
 	background-color: #333333
 }
 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  font-style: oblique;
}

 p  {
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 22px;
	text-align: center;
}
li	{
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
	font-size: 22px;
}
#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}