 {
  font-family: 'Pacifico', cursive;
  font-size: 48px;
  text-shadow: 4px 4px 4px #aaa;
}
 {
	font-family: 'Pacifico', cursive;
	font-size: 22px;
}
	{
	font-family: 'Pacifico', cursive;
	font-size: 22px;
}